@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0; 
    padding: 0; text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
/* ----------------- NAVBAR----------------*/
.max-width{
    max-width: 100%;
    padding: 0 80px;
    margin: auto;
}    
.navbar{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 15px 0;
    background: #05053e;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    color: seashell;
    font-size: 35px;
    font-weight: 600;
}
.navbar li {
    list-style: none;
    display: inline-block;
}
.navbar ul li a{
    color: seashell;
    font-size: 18px;
    margin-left: 25px;
    transition: color 0.5s ease;
}
.navbar ul li a:hover{
    color: crimson;
    /* font-weight: bold; */
}
.menu-btn{
    color: seashell;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* -------------- HOME------------- */
.home{
    padding-top: 70px;
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    flex-wrap: wrap-reverse;
    background: url("images/bg2.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: black;
    height: 100vh;
    min-height: 500px;
}
.home .image{
    background: url("images/picc.jpg") no-repeat center ;
    background-size: cover;
    border: 5px solid rgb(7, 7, 58);
    border-radius: 150px;
    margin: auto;
    height: 200px;
    width: 200px;
}
.home .home-content{
    margin: auto 30px auto 70px;
}
.home .home-content .text-1{
    font-size: 25px;
}
.home .home-content .text-2{
    font-size: 40px;
    font-weight: 700;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{ 
    color: crimson;
    font-weight: 700;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    font-size: 25px;
    color: wheat;
    padding: 10px 25px;
    margin-top: 20px;
    border-radius: 6px;
    border: 3px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    background: none;
    color: black;
    font-weight: bold;
}

/* --------------ABOUT------------- */
.about {
    /* background: rgb(96 169 181 / 11%); */
    background: white;
}
.about .about-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* height: 70vh; */
    margin: 4em 0;
}
.about-content .title{
    position: relative;
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;   
}
.about-content .title::before{
    content:"";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 220px;
    height: 3px;
    background: crimson;
    transform: translateX(-50%);
}
.about-content .title::after{
    content:"who i am";
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 18px;
    color: crimson;
    padding: 0px 6px;
    background: white;
    transform: translateX(-50%);
}
.about-content .acontent{  
    margin: auto;
    margin-top: 2em;
    text-align: justify;
    padding: 0 50px;
    width: 60%;
    font-size: 20px;
}
.about-content .acontent a{
    display: inline-block;
    background: crimson;
    font-size: 20px;
    color: wheat;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    border: 3px solid crimson;
    transition: all 0.3s ease;
}
.about-content .acontent a:hover{
    background: none;
    color: black;
    font-weight: bold;
}

/* -------------EDUCATION----------- */
.education{
    background: whitesmoke;
}
.title{
    position: relative;
    width: 40%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;  
}
/* .education .title::before{
    content:"";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 220px;
    height: 3px;
    background: crimson;
    transform: translateX(-50%);
}
.education .title::after{
    content:"Qualification";
    background: rgb(1, 1, 37);
    position: absolute;
    bottom: -13px;
    left: 50%;
    font-size: 15px;
    color: crimson;
    padding: 0px 6px;
    background: white;
    transform: translateX(-50%);
} */
.certies .certi-content , .education .edu-content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.education .edu-content .ecard{
    background: pink;
    text-align: center;
    height: 200px;
    padding: auto;
    margin: 50px 20px;
    width: 320px;
    border-radius: 10px;
    margin-top: 30px;
}
.education .edu-content .box{
    padding: 40px;
    width:239px;
    height:119px;
    border: solid 1px #555;
    box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    border-radius:10px;
    transition: all 0.7s ease-in-out;
}
.education .edu-content .box:hover{
    transform: scale(1.2);
}

/* ---------------SKILLS-------------- */
.ski-content{
    box-sizing: border-box;
    display: grid;
    height: 100%;
    place-items: center;
    margin: 2em 0;
}
.bars{
    width: 60%;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 25px 30px;
}
.bars .bar{
    margin: 20px 0;
}
.bars .bar:first-child{
    margin-top: 0px;
}
.bars .bar .info{
    margin-bottom: 5px;
}
.bars .bar .info span{
    font-size: 17px;
    font-weight: bold;
    opacity: 0;
    animation: showtext1 0.5s 1s linear forwards;
}
@keyframes showtext1 {
    100%{
        opacity: 1;
    }
}
.bars .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: #f0f0f0;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05), 0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bars .bar .progress-line span{
    height: 100%;
    width: 50%;
    background: crimson;
    border-radius: 10px;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.bars .bar .html span{
    width: 90%;
}
.bars .bar .css span{
    width: 70%;
}
.bars .bar .js span{
    width: 40%;
}
.bars .bar .boots span{
    width: 80%;
}
.bars .bar .cpp span{
    width: 80%;
}
.bars .bar .python span{
    width: 85%;
}
.bars .bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showtext2 0.5s 1.5s linear forwards;
}
.bars .bar .progress-line span::after{
    position: absolute;
    content: "90%";
    right: 0;
    top: -22px;
    background: #000;    
    font-size: 12px;
    color: #fff;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showtext2 0.5s 1.5s linear forwards;
}
@keyframes showtext2 {
    100%{
        opacity: 1;
    }
}
.bars .bar .html span::after{
    content: "90%";
}
.bars .bar .css span::after{
    content: "70%";
}
.bars .bar .js span::after{
    content: "40%";
}
.bars .bar .boots span::after{
    content: "80%";
}
.bars .bar .cpp span::after{
    content: "80%";
}
.bars .bar .python span::after{
    content: "85%";
}
/*-------------- CERTIFICATE----------- */
.certies{
    background-color: cornsilk;
}
.certies .certi-content .ecard{
    background: pink;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: auto;
    margin: 50px 20px;
    width: 250px;
    border-radius: 10px;
    margin-top: 30px;
}
.certies .certi-content .box{
    padding: 15px 5px;
    width:239px;
    height:68px;
    border: solid 1px #555;
    box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
    border-radius:10px;
    transition: all 0.7s ease-in-out;
}
.certies .certi-content .box:hover{
    transform: scale(1.2);
}

/* ---------------CONTACT------------- */
.con-content{
    background-color: black;
    padding: 10px;
    color: white;
}
.con-content div a img{
    filter: invert(1);
    height: 30px;
    padding: 15px;
}
.con-content div a img:hover{
    height: 32px;
    padding: 14px;
}
.con-content footer{
    text-align: center;
    padding: 10px;
}


/* responsive media query */
@media (max-width: 990px ){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar ul{
        position: fixed;
        height: 70vh;
        width: 100%;
        background: linear-gradient(black,rgb(102 180 227),rgb(107 167 219),rgb(189 235 249));
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 50px;
        transition: all 0.3s ease;
    }
    .navbar ul.active{
        left: 0;
    }
    .navbar ul li{
        display: block;
    }
    .navbar ul li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }
}
@media (max-width: 561px ){
    .title{
        font-size: 25px;
    }
    .about-content .title{
        font-size: 40px;  
        white-space: nowrap;
    }
    .about-content .title::before{
        bottom: -5px;
        left: 50%;
        width: 180px;
        height: 3px;
    }
    .about-content .title::after{
        bottom: -13px;
        padding: 0px 6px;
    }
    .about-content .acontent{
        padding: 30px 10px;
        font-size: 20px;
        margin-top: 1em;
    }
}
@media (max-width: 752px ){
    .about-content .title{
        padding-top: 25px;
    }
    .about-content .acontent{
        padding: 30px 30px;
        font-size: 20px;
        /* height: 100vh; */
    }
}